{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('homepage') }}
{% endblock %}

{% block main_content %}
    <!-- ======= Hero Section ======= -->
    {% include 'pages/home/section/hero.html.twig' %}

    <!-- ======= About Section ======= -->
    {% include 'pages/home/section/about.html.twig' %}

    <!-- BIO -->
    {% include 'pages/home/section/bio.html.twig' %}

    <!-- ======= Facts Section ======= -->
    {#    {% include 'pages/home/section/facts.html.twig' %} #}

    <!-- ======= Skills Section ======= -->
    {% stopwatch 'skills_duration' %}{% include 'pages/home/section/skills.html.twig' %}{% endstopwatch %}

    <!-- ======= Resume Section ======= -->
    {% include 'pages/home/section/resume.html.twig' %}

    <!-- ======= Portfolio Section ======= -->
    {#    {% include 'pages/home/section/portfolio.html.twig' %} #}

    <!-- ======= Services Section ======= -->
    {#    {% include 'pages/home/section/services.html.twig' %} #}

    <!-- ======= Testimonials Section ======= -->
    {#    {% include 'pages/home/section/testimonials.html.twig' %} #}

    <!-- ======= Contact Section ======= -->
    {% include 'pages/home/section/contact.html.twig' %}

    <!-- WEBSITE TECH -->
    {% include 'pages/home/section/tech.html.twig' %}
{% endblock %}

{% block next_section %}
{#    <div id="arrow">#}
{#        <a href="#" class="previous d-flex align-items-center justify-content-center"><i#}
{#                class="bi bi-arrow-up-circle"></i></a>#}
{#        <a href="#" class="next d-flex align-items-center justify-content-center"><i#}
{#                class="bi bi-arrow-down-short"></i></a>#}
{#    </div>#}
{% endblock %}
