<section id="about" class="about section-bg">
    <div class="container">

        <div class="section-title">
            <h2><i class='bx bx-id-card'></i> {% trans %}About{% endtrans %}</h2>
            <p class="lead">
                {% trans %}Hi there, I make things. Many many things. I get by as a{% endtrans %}
                <span itemprop="title"><i class="fa-solid fa-dna"></i> {% trans %}bioengineer{% endtrans %}</span>,
                <span itemprop="title"><i class="fa-solid fa-terminal"></i> {% trans %}back-end developer{% endtrans %}</span>,
                <span itemprop="title"><i class="fa-solid fa-book-atlas"></i> {% trans %}digital publisher{% endtrans %}</span>,
                and <i class="fa-solid fa-user-ninja"></i> {% trans %}music enthusiast{% endtrans %},
                {% trans %}living in{% endtrans %}
                <span itemprop="address" itemscope itemtype="https://schema.org/address">
                <span itemprop="locality">Montpellier</span>,
                <span itemprop="region">Hérault</span>,
                <span itemprop="country">France</span>
            </span> {% trans %}and working for{% endtrans %} <a href="https://www.fr.sogeti.com">Sogeti</a>.</p>
            <p>
                <a href="{{ path('home', { '_fragment': 'contact' }) }}">
                    <i class="fa-solid fa-pen-nib"></i> {% trans %}Drop me a line about anything...{% endtrans %}
                </a>
            </p>
        </div>

        <div class="row">
            <div class="col-lg-4" data-aos="fade-right">
                <img src="{{ asset('/build/images/arnaud/mariage_mairie.jpg') }}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                <h3>Tech Leader &amp; Senior Web Developer.</h3>
                <p class="fst-italic">
                    {# Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut #}
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li>
                                <i class="bi bi-chevron-right"></i> <strong>{% trans %}Birthday{% endtrans %} :</strong>
                                <span>{{ site.author.birthday|format_date }}</span>
                            </li>
                            <li>
                                <i class="bi bi-chevron-right"></i> <strong>{% trans %}Website{% endtrans %} :</strong>
                                <span><a
                                        class="badge rounded-pill bg-secondary"
                                        href="https://arnaud.tierant.me"
                                        target="_blank">https://arnaud.tierant.me</a></span>
                            </li>
                            <li>
                                <i class="bi bi-chevron-right"></i> <strong>{% trans %}Phone{% endtrans %} :</strong>
                                <span><abbr title="phone"> P: </abbr><span
                                        class="obfuscate"> 3971611260 (33+) </span></span>
                            </li>
                            <li>
                                <i class="bi bi-chevron-right"></i> <strong>{% trans %}City{% endtrans %} :</strong>
                                <span>Montpellier, France</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li>
                                <i class="bi bi-chevron-right"></i> <strong>{% trans %}Age{% endtrans %} :</strong>
                                <span>
                                    {% set age_in_years_interval = get_duration(date(site.author.birthday), null, ['y'], false) %}
                                    {{ 'author.age'|trans({age: age_in_years_interval.y}) }}
                                </span>
                            </li>
                            <li>
                                <i class="bi bi-chevron-right"></i> <strong>{% trans %}Degree{% endtrans %} :</strong>
                                <span>Master</span>
                            </li>
                            <li>
                                <i class="bi bi-chevron-right"></i> <strong>{% trans %}Email{% endtrans %} :</strong>
                                <span class="obfuscate">rf.tnareit@duanra</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End About Section -->
