<section id="bio" class="bio about section-bg">
    <div class="container">
        <div class="section-title">
            <h2><i class="bi bi-person-bounding-box"></i> Hi! I'm Arnaud <span class="wave">👋</span></h2>
        </div>

        <div class="row no-gutters">
            <div class="col-12">
                <p class="about-text">
                    <span class="fa-solid fa-graduation-cap about-icon"></span>
                    {% trans %}
                        Following my studies (DUT Biological Engineering, Bachelor and Master in Computer Science,
                        specialization in Bioinformatics), I decided to enter the world of work by creating my bioinformatics services
                        company BILMS (Bioinformatics, Computer Science, Software, Maintenance, Services), in order to provide biology
                        research laboratories with an external service, putting at my disposal my know-how and my expertise
                        acquired throughout my studies.
                    {% endtrans %}
                </p>
                <p class="about-text">
                    <span class="fa-solid fa-code about-icon"></span>
                    {% trans %}
                        Sometimes the perspectives of each changes, that's why I considered a less administrative job,
                        more focused on my technical skills. With this in mind, I gladly put my skills at Synap System,
                        an open source solutions consulting company, for nearly a year and a half. Then came a mission to
                        Acretion to participate in the development of an intelligent social network dedicated to sharing values, via
                        an innovative strategy.
                    {% endtrans %}
                </p>

                <p class="about-text">
                    <span class="fa-solid fa-globe about-icon"></span>
                    {% trans %}
                        Currently, I am a <span class="rainbow">developer</span> <code>/dɪˈvɛləpɚ/</code>, based in
                        Montpellier, France, working on Sogeti, a wholly-owned subsidiary of Cap Gemini S.A., leader in
                        IT services and local engineering, specializing in application and infrastructure management.
                    {% endtrans %}
                </p>

                <p class="about-text">
                    <span class="fa-solid fa-heart about-icon"></span>
                    {% trans %}
                        I'm addicted to music, travelling and at any given (and non-given) moment, meeting new people :)
                    {% endtrans %}
                </p>

                <p class="about-text">
                    <span class="fa-solid fa-project-diagram about-icon"></span>
                    {% trans %}
                        The <a href="/projects">projects</a> page is a nice place to see some of my work,
                        but you can also view my (somewhat outdated) <a href="/resume">resume</a>.
                    {% endtrans %}
                </p>
            </div>
        </div>
    </div>
</section>
