<section id="contact" class="contact section-bg">
    <div class="container">

        <div class="section-title">
            <h2><i class="bi bi-envelope"></i> {% trans %}Contact{% endtrans %}</h2>

            <p>
                 {% trans %}
                You can <a href="mailto:arnaud@tierant.fr?subject=Hello_from_arnaud.tierant.me">email me</a> or
                find me <a href="https://twitter.com/atierant">on Twitter</a> if you want to get in touch. As I said, I
                love meeting new people so don't hesitate to send a message!
                {% endtrans %}
            </p>
        </div>

        <div class="row" data-aos="fade-in">

            <div class="col-lg-5 d-flex align-items-stretch">
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>{% trans %}Location{% endtrans %}:</h4>
                        <p>34800 Canet, France</p>
                    </div>

                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>{% trans %}Email{% endtrans %}:</h4>
                        <p><span class="obfuscate">rf.tnareit@duanra</span></p>
                    </div>

                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>{% trans %}Call{% endtrans %}:</h4>
                        <p><span><abbr title="phone"> P: </abbr><span
                                    class="obfuscate"> 3971611260 (33+) </span></span></p>
                    </div>

                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11557.413803503256!2d3.473351599619319!3d43.599181805259455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b15cbc269b20a3%3A0xa02eae955cb26d6a!2sCanet!5e0!3m2!1sfr!2sfr!4v1676476834473!5m2!1sfr!2sfr"
                        style="border:0; width: 100%; height: 290px;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>

            </div>

            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                <div class="info">
                    <form action="https://formspree.io/xwkkrdak" method="POST" class="form" id="contact-form">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="name">{% trans %}Your Name{% endtrans %}</label>
                                <input type="text" name="name" class="form-control" id="name" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="_replyto">{% trans %}Your Email{% endtrans %}</label>
                                <input type="email" class="form-control" name="_replyto" id="_replyto" required>
                            </div>
                        </div>
                        {#                    <div class="form-group"> #}
                        {#                        <label for="subject">Subject</label> #}
                        {#                        <input type="text" class="form-control" name="subject" id="subject" required> #}
                        {#                    </div> #}
                        <div class="form-group">
                            <label for="content">{% trans %}Message{% endtrans %}</label>
                            <textarea class="form-control" name="content" rows="10" id="content" required></textarea>
                        </div>
                        <label>
                            <input type="text" name="_gotcha" style="display:none">
                        </label>
                        <input type="hidden" name="_next" value="?message=Your message was sent successfully, thanks!"/>
                        <input type="hidden" name="_subject" value="New submission from arnaud.tierant.me">
                        <div style="font-size: 12px; margin: -10px 0 10px;">
                            {% trans %}
                            Please do not use this form to send me full code samples or ask me to fix an app for free.
                            If you'd like to get in touch and are very old-school, you can send a letter but email me first to get address ;)
                            {% endtrans %}
                        </div>
                        <div class="text-center">
                            <button class="btn btn-lg btn-outline-dark" type="submit">{% trans %}Send Message{% endtrans %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Contact Section -->
