<!--{site.data.Links | inspect }-->
<!--{ assign filtered-links = site.data.Links | where_exp:"item", "item.category == include.category" }-->
{% assign filtered-links = site.data.Links %}
<h1>ICI</h1>
{% for link in filtered-links  | where_exp:"link", "link.category == include.category"  %}
    {% for item in link %}
        {% assign background-color = item[1].background-color %}
        {% assign front-color = item[1].front-color %}
        {% assign fa-type = item[1].type %}
        {% case fa-type %}
            {% when "solid" %}
                {% assign fa-type-class = 'fas' %}
            {% when "brand" %}
                {% assign fa-type-class = 'fab' %}
            {% else %}
                {% assign fa-type-class = 'fa' %}
        {% endcase %}
        <li>
            {%- if item[0] == 'rss' -%}
            <a href="{{ '/feed.xml' | relative_url }}" title="{{ item[1].name }}">
            {%- else -%}
            <a href="{{item[1].baseURL}}{{ site.social-network-links[item[0]] }}" title="{{ item[1].name }}">
            {%- endif -%}
            <span class="fa-stack fa-lg" aria-hidden="true">
              <i class="fa fa-circle fa-stack-2x" {% if background-color %}style="color:{{background-color}}"{% endif %}></i>
              <i class="{{fa-type-class}} {{ item[1].icon }} fa-stack-1x fa-inverse" {% if front-color %}style="color:{{front-color}}"{% endif %}></i>
            </span>
                    <span class="sr-only">{{ item[1].name }}</span>
                </a>
        </li>
    {% endfor %}
{% endfor %}
