.note-big-shadow {
  max-width: 320px;
  position: relative;
  transform: rotate3d(1, 1, 1, 354deg);

  &:before {
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    bottom: -12%;
    content: "";
    display: block;
    left: -12%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
  }
}

.note {
  border-radius: 8px;
  //box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
  background-color: #FFFFFF;
  color: #252422;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
  min-height: 220px;
  box-shadow: -15px 15px 20px 3px rgb(33 33 33 / 30%);

  &[data-radius="none"] {
    border-radius: 0;
  }

  &[data-background="image"] {
    .title,
    .stats,
    .category,
    .description,
    .content,
    .note-footer,
    small,
    .content a,
    .title,
    .stats,
    .category,
    .description,
    .content,
    .note-footer,
    small,
    .content a {
      color: #FFFFFF;
    }
  }

  .content {
    padding: 20px 20px 10px 20px;
  }

  .category, .note .label {
    font-size: 14px;
    margin-bottom: 0;
  }

  .description {
    font-size: 16px;
    color: #66615b;
  }

  a:hover, a:focus {
    text-decoration: none;
  }

  &.note-text-only .content {
    padding: 50px 65px;
    text-align: center;
  }

  /*======== COLORS ===========*/

  &[data-color="blue"] {
    background: #b8d8d8;

    .description {
      color: #506568;
    }

    .category {
      color: #7a9e9f;
    }
  }

  &[data-color="green"] {
    background: #d5e5a3;

    .description {
      color: #60773d;
    }

    .category {
      color: #92ac56;
    }
  }

  &[data-color="yellow"] {
    background: #ffe28c;

    .description {
      color: #b25825;
    }

    .category {
      color: #d88715;
    }
  }

  &[data-color="brown"] {
    background: #d6c1ab;

    .description {
      color: #75442e;
    }

    .category {
      color: #a47e65;
    }
  }

  &[data-color="purple"] {
    background: #baa9ba;

    .description {
      color: #3a283d;
    }

    .category {
      color: #5a283d;
    }
  }

  &[data-color="orange"] {
    background: #ff8f5e;

    .description {
      color: #772510;
    }

    .category {
      color: #e95e37;
    }
  }
}
