---
layout: page
title: Arnaud Tiérant's Resume
permalink: resume
css: "/assets/css/aboutme.css"
ext-css:
#- "//www.w3schools.com/w3css/4/w3.css"
---
<div class="cv w3-container w3-light-gray">
    <a href="#" class="download" title="Download CV as PDF">Download CV</a>
    <hr />
    <!-- WORK EXPERIENCE -->
    <section class="work-experience">
        <h1>Work Experience</h1>
        {% include work-item-list.html %}
    </section>
    <hr />
    <section class="internship-experience">
        <h1>Internship Experience</h1>
        {% include internship-item-list.html %}
    </section>
    <hr />
    <!-- EDUCATION -->
    <section class="education">
        <h1>Education</h1>
        {% include education-item-list.html %}
    </section>
    <hr />
    <!-- SKILLS -->
    <section class="skills">
        <h1>Skills</h1>
        <h2>Some of the things I do well</h2>
        <div class="skills-container">
        </div>
    </section>
    <hr />
    <!-- SPECIALIZATIONS -->
    <section class="specializations">
        <h1>Specializations</h1>

        <h2>Disciplines of computing</h2>
        <ul>
            <li>NTI Development, Semantic Web, Agility, technological watch, interoperability, testing & reporting.</li>
        </ul>

        <h2>Disciplines of bioinformatics</h2>
        <ul>
            <li>Microarray Management, Datamining, Sequence Analysis</li>
            <li>Virology and viral genetics</li>
            <li>Food and Industrial Microbiology, Food Industry Physics.</li>
        </ul>
    </section>
    <hr />
    <!-- TOOLS -->
    <section class="tools">
        <h1>Tools</h1>
        <h2>Some of the toolsets I am quite familiar with</h2>
        <div class="skills-container">
            <div class="skills-item">Rector</div>
        </div>
    </section>


    <address>
        <strong></strong><br>
        3 Allée des Missions<br>
        34080 Montpellier, France<br>
        <abbr title="phone">P:</abbr> (+33) 0621161793<br>
        <span class="obfuscate">rf.tnareit@duanra</span>
    </address>
</div>